.top{
    color: white;
    background-color: black;
    padding: 5px;
    margin-bottom: 0px;
}
#user:hover{
    cursor: pointer;
}
#user{
    position: absolute;
    right: 10px;
    top: 7px;
    margin-left: auto;
}