<div class="mother">
    <md-card class="child no-style" (click)="loginGoogle()">
      <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/chuck-games.appspot.com/o/Google%20Plus.png?alt=media&token=433ca6ec-d723-4acf-a2fa-11a1d3a34fae" />    
      <md-card-subtitle>Login with Google</md-card-subtitle>
    </md-card>
    <md-card class="child no-style" (click)="loginFacebook()">
      <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/chuck-games.appspot.com/o/facebook.png?alt=media&token=79d5584c-fe16-432c-b48c-173d550d6a76" />    
      <md-card-title>Not Active</md-card-title>
      <md-card-subtitle>Login with Facebook</md-card-subtitle>
    </md-card>
</div>
