<div class="fam">
  <div class="mother">
    <md-card class="child" (click)="setDraw()" routerLink="/games">
      <md-card-title>Play Draw</md-card-title>
      <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/chuck-games.appspot.com/o/draw.jpg?alt=media&token=f05744d4-a026-48bc-8b3f-1e222e7e1909" />    
    </md-card>
    <md-card class="child" (click)="setDice()" routerLink="/games">
      <md-card-title>Play Dice</md-card-title>
      <img md-card-image src="https://firebasestorage.googleapis.com/v0/b/chuck-games.appspot.com/o/roll.jpg?alt=media&token=a5702679-a4f3-477d-a788-5ae403e437bc" />    
    </md-card>
  </div>
</div>