

<div id="main" class="col-sm-8 col-sm-offset-2">
  <div class="col-sm-6">
    <div class="center">
      <md-card class="no-style">
        <span class="cube dice {{ rollDiceService.pDice}}"></span>
        <img class="avatar" md-card-avatar [src]='accountService.photoUrl'>    
        <md-card-subtitle> {{ accountService.displayName }} </md-card-subtitle>    
      </md-card>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="center">
      <md-card class="no-style">
        <span class="cube dice {{ rollDiceService.cDice}}"></span>
        <img class="avatar" md-card-avatar src='https://firebasestorage.googleapis.com/v0/b/chuck-games.appspot.com/o/Chuck-Norris.jpg?alt=media&token=1ac5db4f-212e-45e7-9162-a740e142afe4'>    
        <md-card-subtitle> Chuck Norris </md-card-subtitle>    
      </md-card>
    </div>
  </div>
  <div class="col-sm-12">
  <md-card class="no-style">
    <div class="center" *ngIf="rollDiceService.inPlay == false">
      <button md-raised-button (click)="rollDice()">Roll</button>
    </div>
    <div class="center" *ngIf="rollDiceService.inPlay == true">
      <button md-raised-button>In play...</button>
    </div>
  </md-card>
  </div>
</div>