/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
.no-style { /* md-card */
    box-shadow: none;
}
.center{
    text-align: center;
}
html, body, app-root, md-sidenav-container{
  margin: 0;
  width: 100%;
  height: 100%;
}
 .app-content {
  margin: 0;
  width: 100%;
  height: 90%;
}
.avatar{
    margin: 20px;
}